project:
  type: website

website:
  title: "ciencia-reproducible"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
format:
  html:
    theme: cosmo
    css: styles.css

execute: 
  freeze: true



